html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "roboto", sans-serif;
}

body {
  margin: 0;
  height: 100%;
}

.topBar1 {
  background-color: #33a1fd;
  overflow: hidden;
}

.topBar2 {
  background-color: #2176ff;
}

.poolName {
  float: right;
}

h1 {
  float: left;
  display: block;
  color: #ffffff;
  margin: 15px 25px 15px 25px;
  font-size: 2.5rem;
  font-family: "Comfortaa", cursive;
}

.tabs {
  display: flex;
  column-gap: 10px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 10px;
  padding-bottom: 0;
}

.tabs div {
  background-color: #e4edfc;
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs .active {
  background-color: #ffffff;
}

.tabs div:hover {
  cursor: default;
}

.tabs div:hover:not(.active) {
  background-color: #c7dbfd;
}

.tabs div input {
  border-radius: 10px;
  border-style: none;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

button {
  padding: 5px;
  border-radius: 10px;
  border-style: none;
  background-color: #fdca40;
  font-family: "roboto", sans-serif;
}

button:hover {
  background-color: #ffbb00;
}

p {
  color: #31393c;
  font-size: 1.25rem;
  margin: 5px;
}
