html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #33a1fd;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  font-size: 4rem;
  font-family: "Comfortaa", cursive;
  padding-bottom: 2.5%;
  width: 50%;
  text-align: center;
  border-bottom: 4px solid #ffffff;
}

p {
  color: #31393c;
  font-size: 1.25rem;
  margin: 5px;
  font-family: "roboto", sans-serif;
}

.notice {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

p:hover:not(.notice) {
  cursor: default;
  color: #000000;
}

input {
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  font-family: "roboto", sans-serif;
  border-radius: 30px;
  border-style: none;
  margin-right: 10px;
}

button {
  font-family: "roboto", sans-serif;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  background-color: #fdca40;
  border-radius: 30px;
  border-style: none;
}

button:hover {
  background-color: #ffbb00;
}
